In [3]:
import pandas as pd 
import numpy as np

In [2]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\Sejal
[nltk_data]     Hanmante\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
df=pd.read_csv(r"C:\Users\Sejal Hanmante\Downloads\dataBA_reviews1.csv")

In [4]:
df

,Srno,reviews,stars,date,country
0,0,✅ Trip Verified | I was flying to Warsaw for ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,3rd December 2022,United States
1,1,✅ Trip Verified | Booked a BA holiday to Marr...,1,30th November 2022,United Kingdom
2,2,✅ Trip Verified | Extremely sub-par service. H...,9,28th November 2022,United States
3,3,✅ Trip Verified | I virtually gave up on Brit...,2,26th November 2022,United Kingdom
4,4,✅ Trip Verified | I was pleasantly surprised ...,7,25th November 2022,Canada
...,...,...,...,...,...
16603,16603,LHR-JFK-LAX-LHR. Check in was ok apart from be...,NaN,29th August 2012,United Kingdom
16604,16604,LHR to HAM. Purser addresses all club passenge...,NaN,28th August 2012,United Kingdom
16605,16605,My son who had worked for British Airways urge...,NaN,12th October 2011,United Kingdom
16606,16606,London City-New York JFK via Shannon on A318 b...,NaN,11th October 2011,United States
16607,16607,SIN-LHR BA12 B747-436 First Class. Old aircraf...,NaN,9th October 2011,United Kingdom

In [5]:
#Pre-Prcoessing and Bag of Word Vectorization using Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
import re

In [6]:
df['verified'] = df.reviews.str.contains("Trip Verified")
df['verified']

0         True
1         True
2         True
3         True
4         True
         ...
16603    False
16604    False
16605    False
16606    False
16607    False
Name: verified, Length: 16608, dtype: bool

In [ ]:
#for lemmatization of words we will use nltk library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()


reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [ ]:
# add the corpus to the original dataframe

df['corpus'] = corpus

In [ ]:

df.head()

In [ ]:

df.dtypes

In [ ]:

# convert the date to datetime format

df.date = pd.to_datetime(df.date)

In [ ]:

#check for unique values
df.stars.unique()

In [ ]:
# remove the \t and \n from the ratings
df.stars = df.stars.str.strip("\n\t\t\t\t\t\t\t\t\t\t\t\t\t")

In [ ]:
df.stars.value_counts()

In [ ]:

# drop the rows where the value of ratings is None
df.drop(df[df.stars == "None"].index, axis=0, inplace=True)

In [ ]:

df.isnull().sum()

In [ ]:

#drop the rows using index where the country value is null
df.drop(df[df.country.isnull() == True].index, axis=0, inplace=True)

In [ ]:
df.shape

In [ ]:

#resetting the index
df.reset_index(drop=True)

In [ ]:
# export the cleaned data

df.to_csv("C:\Users\Sejal Hanmante\Downloads\data\cleanedreviews.csv")