# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [14]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html5")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 29
Error on page 30
Error on page 30
Error on page 33
Error on page 33

In [15]:
#check the length of total reviews extracted
len(reviews)

16608

In [26]:
len(stars)

3418

In [28]:

#check the length 
stars = stars[:3418]

In [53]:
reviews1=pd.DataFrame(reviews)
stars1=pd.DataFrame(stars)
date1=pd.DataFrame(date)
country1=pd.DataFrame(country)

In [64]:
df=pd.concat([reviews1,stars1,date1,country1],axis=1)

In [65]:
df

,0,0,0,0
0,✅ Trip Verified | I was flying to Warsaw for ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,3rd December 2022,United States
1,✅ Trip Verified | Booked a BA holiday to Marr...,1,30th November 2022,United Kingdom
2,✅ Trip Verified | Extremely sub-par service. H...,9,28th November 2022,United States
3,✅ Trip Verified | I virtually gave up on Brit...,2,26th November 2022,United Kingdom
4,✅ Trip Verified | I was pleasantly surprised ...,7,25th November 2022,Canada
...,...,...,...,...
16603,LHR-JFK-LAX-LHR. Check in was ok apart from be...,NaN,29th August 2012,United Kingdom
16604,LHR to HAM. Purser addresses all club passenge...,NaN,28th August 2012,United Kingdom
16605,My son who had worked for British Airways urge...,NaN,12th October 2011,United Kingdom
16606,London City-New York JFK via Shannon on A318 b...,NaN,11th October 2011,United States
16607,SIN-LHR BA12 B747-436 First Class. Old aircraf...,NaN,9th October 2011,United Kingdom

In [66]:
df

,0,0,0,0
0,✅ Trip Verified | I was flying to Warsaw for ...,\n\t\t\t\t\t\t\t\t\t\t\t\t\t5,3rd December 2022,United States
1,✅ Trip Verified | Booked a BA holiday to Marr...,1,30th November 2022,United Kingdom
2,✅ Trip Verified | Extremely sub-par service. H...,9,28th November 2022,United States
3,✅ Trip Verified | I virtually gave up on Brit...,2,26th November 2022,United Kingdom
4,✅ Trip Verified | I was pleasantly surprised ...,7,25th November 2022,Canada
...,...,...,...,...
16603,LHR-JFK-LAX-LHR. Check in was ok apart from be...,NaN,29th August 2012,United Kingdom
16604,LHR to HAM. Purser addresses all club passenge...,NaN,28th August 2012,United Kingdom
16605,My son who had worked for British Airways urge...,NaN,12th October 2011,United Kingdom
16606,London City-New York JFK via Shannon on A318 b...,NaN,11th October 2011,United States
16607,SIN-LHR BA12 B747-436 First Class. Old aircraf...,NaN,9th October 2011,United Kingdom

In [68]:
df.to_csv(r"C:\Users\Sejal Hanmante\Downloads\data\BA_reviews1.csv")

Congratulations! Now you have your dataset for this task! The loops above collected 1000 reviews by iterating through the paginated pages on the website. However, if you want to collect more data, try increasing the number of pages!

 The next thing that you should do is clean this data to remove any unnecessary text from each of the rows. For example, "✅ Trip Verified" can be removed from each row if it exists, as it's not relevant to what we want to investigate.